<!DOCTYPE html>
<html >
<head>
	<title>Sales Cast</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
<script src="controller.js"></script>

<style type="text/css">
	body{
		/*margin-top: 60px;*/
	}

</style>

</head>
<body ng-app="application">

<div class="navigation-panel">
	<div ng-include="'/header.html'"></div>
</div>

<div class="container" ng-controller="shelf">
<label for="product">Client Details</label>
		<input list="products" class="form-control" placeholder="Product Name" id="product" ng-model="product.productId">
			 <datalist id="products" ng-model="selectedProducts" >
			<option data-ng-repeat="product in products" value=" {{product.product_name}}">select </option>
  
		</datalist>



</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</body>
</html>