<!DOCTYPE html>
<html ng-app="superMarketApp">
<head>
	<title>Sales Cast</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<style type="text/css">
	body{
		/*margin-top: 60px;*/
	}

</style>

</head>
<body>

<div class="navigation-panel">
	<div ng-include="'/header.html'"></div>
</div>

<div class="container" ng-controller="sueprMarketController">
<h2>Wrtie Attribute for SuperMarket</h2>

<form name="form">
	<div class="form-group">
      <label for="clientName">Super Market ID:</label>
      <input type="text" class="form-control input-small" id="marketId" ng-model="marketWriteData.marketId" placeholder="Super Market Id" >
    </div>
    <div class="form-group">
      <label for="clientId">Counter ID:</label>
      <input type="text" class="form-control input-small" id="counterId" ng-model="marketWriteData.counterId" placeholder="Counter ID:" >
    </div>
    <div class="form-group">
      <label for="clientId">Counter Name:</label>
      <input type="text" class="form-control input-small" id="counterName" ng-model="marketWriteData.counterName" placeholder="Enter Counter Name" >
    </div>

    <div><button class="btn btn-primary" ng-click="writeMarketDetail()">Wrtie Details</button></div>

</form>
    <br>
	<div>
		<label>Server Response: <div><p>{{resData}}</p></div></label>
	</div>




</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="controllers/supermarketController.js"></script>
</body>
</html>