<!DOCTYPE html>
<html ng-app="regApp">
<head>
	<title>Sales Cast</title>
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">



  <script type="text/javascript">

  $(document).ready(function () {

    $("#supermarket").show();
    $("#counter").hide();
    $("#warehouse").hide();

    $("#sp").click(function(){
      $("#supermarket").show();
      $("#counter").hide();
      $("#warehouse").hide();
      return false;
    });

    $("#cn").click(function(){
      $("#counter").show();
      $("#supermarket").hide();

      $("#warehouse").hide();
      return false;
    });


    $("#wr").click(function(){
      $("#warehouse").show();
      $("#supermarket").hide();
      $("#counter").hide();

      return false;
    });



  });
  </script>

  <style type="text/css">
  body{
    /*margin-top: 60px;*/
  }

  </style>

</head>
<body>

  <div class="navigation-panel">
   <div ng-include="'/header.html'"></div>
 </div>

 <div class="container" ng-controller="registrationController">
  <h2>Registration</h2>



  <form name="form">

    <div class="collapse navbar-collapse" id="menu-center">
      <ul class="breadcrumb">
        <li class="active">
          <a href="#supermarket" id="sp">Supermarket <span class="sr-only">(current)</span></a></li>
          <li><a href="#counter" id="cn">Counter
            <span class="sr-only">(current)</span></a></li>
            <li><a href="#warehouse" id="wr">Warehouse</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->


        <!-- Supermarket --> 


        <div id="supermarket">

         <div class="form-group" >
          <label for="clientName">Supermarket Name:</label>
          <input type="text" class="form-control input-small" id="clientName" ng-model="regData.client_name" placeholder="Enter Client's Name" >
        </div>
        <div class="form-group">
          <label for="clientId">Supermarket ID:</label>
          <input type="text" class="form-control input-small" id="clientId" ng-model="regData.client_id" placeholder="Enter Client's ID" >
        </div>
        <div class="form-group">
          <label for="clientId">Registration ID:</label>
          <input type="text" class="form-control input-small" id="regId" ng-model="regData.regId" placeholder="Enter Registration ID" >
        </div>
        <div class="form-group">
          <label for="clientId">Address:</label>
          <div class="input-group">
            <input type="text" class="form-control input-small" id="desc" ng-model="regData.address.street" placeholder="Street" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc1" ng-model="regData.address.city" placeholder="City" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="regData.address.state" placeholder="State" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="regData.address.country" placeholder="Country" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="regData.address.zip" placeholder="Zip" >

        </div>
        </div>

        <div class="form-group">
          <label for="clientId" ng-model="regData.contact">Contact:</label>
          <div class="form-group">
            <label for="clientId">Phone:</label>
            <input type="text" class="form-control input-small" id="desc" ng-model="regData.contact.phone" placeholder="Enter Phone" >
          </div>

          <div class="form-group">
            <label for="clientId">Email:</label>
            <input type="text" class="form-control input-small" id="email" ng-model="regData.contact.email" placeholder="Enter email" >
          </div>

        </div>





        <div><button class="btn btn-primary" ng-click="registerDevice()">Register</button></div>
        <br>
        <div>
          <label>Server Response: <div><p>{{resData}}</p></div></label>
        </div>


      </form>
    </div>
    <!-- Counter -->  

    <form name="form1">
    <div id="counter">
      <div class="form-group" >
        <label for="clientName">Counter Name:</label>
        <input type="text" class="form-control input-small" id="clientName" ng-model="counterData.counter_name" placeholder="Enter Counter Name" >
      </div>
      <div class="form-group">
        <label for="clientId">Counter's ID:</label>
        <input type="text" class="form-control input-small" id="clientId" ng-model="counterData.counter_id" placeholder="Enter Counter ID" >
      </div>
      <div class="form-group">
        <label for="clientId">Registration ID:</label>
        <input type="text" class="form-control input-small" id="regId" ng-model="counterData.regId" placeholder="Enter Registration ID" >
      </div>

      <div class="form-group">

       <label for="client">Supermarket</label>
       <input list="clients" class="form-control" placeholder="Search  Supermarket" id="client" ng-model="counterData.supermarket_id">
       <datalist id="clients" ng-model="selectedSupermarket" >
        <option data-ng-repeat="supermarket in supermarkets" value=" {{supermarket.client_id}}">select </option>

      </datalist>
     
    </div>

    <div><button class="btn btn-primary" ng-click="registercounter()">Register</button></div>

    <br>
    <div>
      <label>Server Response: <div><p>{{counData}}</p></div></label>
    </div>

  </div>  

</form>
  <!-- Warehouse --> 

  <form name="form2">
  <div id="warehouse">
    <div class="form-group" >
      <label for="clientName">Warehouse Name:</label>
      <input type="text" class="form-control input-small" id="clientName" ng-model="warehouse.client_name" placeholder="Enter Warehouse Name" >
    </div>
    <div class="form-group">
      <label for="clientId">Warehouse ID:</label>
      <input type="text" class="form-control input-small" id="clientId" ng-model="warehouse.client_id" placeholder="Enter Warehouse ID" >
    </div>
    <div class="form-group">
      <label for="clientId">Registration ID:</label>
      <input type="text" class="form-control input-small" id="regId" ng-model="warehouse.regId" placeholder="Enter Registration ID" >
    </div>
          <div class="form-group">
          <label for="clientId">Address:</label>
          <div class="input-group">
            <input type="text" class="form-control input-small" id="desc" ng-model="warehouse.address.street" placeholder="Street" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc1" ng-model="warehouse.address.city" placeholder="City" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="warehouse.address.state" placeholder="State" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="warehouse.address.country" placeholder="Country" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="warehouse.address.zip" placeholder="Zip" >

        </div>
        </div>

    <div class="form-group">
      <label for="clientId" ng-model="warehouse.contact">Contact:</label>
      <div class="form-group">
        <label for="clientId">Phone:</label>
        <input type="text" class="form-control input-small" id="desc" ng-model="warehouse.contact.phone" placeholder="Enter Phone" >
      </div>

      <div class="form-group">
        <label for="clientId">Email:</label>
        <input type="text" class="form-control input-small" id="email" ng-model="warehouse.contact.email" placeholder="Enter email" >
      </div>

    </div>


    <div><button class="btn btn-primary" ng-click="registerWarehouse()">Register</button></div>
    <br>
    <div>
      <label>Server Response: <div><p>{{warehouseData}}</p></div></label>
    </div>

  </div>
</form>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="controllers/registrationController.js"></script>
</body>
</html>