<!DOCTYPE html>
<html ng-app="updateApp">
<head>
	<title>Sales Cast</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<style type="text/css">
	body{
		/*margin-top: 60px;*/
	}

</style>
<script type="text/javascript">

  $(document).ready(function () {

    $("#supermarket").show();
    $("#counter").hide();
    $("#warehouse").hide();

    $("#sp").click(function(){
      $("#supermarket").show();
      $("#counter").hide();
      $("#warehouse").hide();
      return false;
    });

    $("#cn").click(function(){
      $("#counter").show();
      $("#supermarket").hide();

      $("#warehouse").hide();
      return false;
    });


    $("#wr").click(function(){
      $("#warehouse").show();
      $("#supermarket").hide();
      $("#counter").hide();

      return false;
    });



  });
  </script>

</head>
<body>

<div class="navigation-panel">
	<div ng-include="'/header.html'"></div>
</div>

<div class="container" ng-controller="updateregistrationController">
<h2>Update Registration Details</h2>

<form name="form">

    <div class="collapse navbar-collapse" id="menu-center">
      <ul class="breadcrumb">
        <li class="active">
          <a href="#supermarket" id="sp">Supermarket <span class="sr-only">(current)</span></a></li>
          <li><a href="#counter" id="cn">Counter
            <span class="sr-only">(current)</span></a></li>
            <li><a href="#warehouse" id="wr">Warehouse</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->


        <!-- Supermarket --> 


        <div id="supermarket">

       
        
      <div class="form-group">

       <label for="client">Supermarket</label>
       <input list="clients" class="form-control" placeholder="Search  Supermarket" id="client" ng-model="discoverClient.supermarketId" ng-change="discover()">
       <datalist id="clients" ng-model="selectedSupermarket" >
        <option data-ng-repeat="supermarket in supermarkets" value=" {{supermarket.client_id}}">select </option>

      </datalist>
     
    </div>

      <div class="form-group" >
          <label for="clientName">Supermarket Name:</label>
          <input type="text" class="form-control input-small" id="clientName" ng-model="superDetails.client_name" placeholder="Client's Name" >
        </div>

        <div class="form-group">
          <label for="clientId">Registration ID:</label>
          <input type="text" class="form-control input-small" id="regId" ng-model="superDetails.regId" placeholder="Registration ID" >
        </div>

        <div class="form-group">
          <label for="clientId">Address:</label>
          <div class="input-group">
            <input type="text" class="form-control input-small" id="desc" ng-model="superDetails.address.street" placeholder="Street" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc1" ng-model="superDetails.address.city" placeholder="City" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="superDetails.address.state" placeholder="State" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="superDetails.address.country" placeholder="Country" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="superDetails.address.zip" placeholder="Zip" >

        </div>
        </div>

        <div class="form-group">
          <label for="clientId" ng-model="superDetails.contact">Contact:</label>
          <div class="form-group">
            <label for="clientId">Phone:</label>
            <input type="text" class="form-control input-small" id="desc" ng-model="superDetails.contact.phone"placeholder="Phone"  >
          </div>

          <div class="form-group">
            <label for="clientId">Email:</label>
            <input type="text" class="form-control input-small" id="email" ng-model="superDetails.contact.email" placeholder="email" >
          </div>

        </div>




        <div><button class="btn btn-primary" ng-click="updateSupermarket()">Update</button></div>
        <br>
        <div>
          <label>Server Response: <div><p>{{resData}}</p></div></label>
        </div>


      </form>
    </div>
    <!-- Counter -->  

    <form name="form1">
    <div id="counter">
      <div class="form-group" >
        <label for="clientName">Counter Id:</label>
      <input list="clientscounter" class="form-control" placeholder="Search  Counter" id="clientName" ng-model="counterData.counter_id" ng-change="discoverCounter()">
       <datalist id="clientscounter" ng-model="selectedCounter" >
        <option data-ng-repeat="counter in counters" value=" {{counter.counter_id}}">select </option>
      </datalist>


      </div>
      <div class="form-group">
        <label for="clientId">Counter Name:</label>
        <input type="text" class="form-control input-small" id="clientId" ng-model="counterData.counter_name" placeholder="Enter Counter ID" >
      </div>
      <div class="form-group">
        <label for="clientId">Registration ID:</label>
        <input type="text" class="form-control input-small" id="regId" ng-model="counterData.reg_id" placeholder="Registration ID" >
      </div>
      
      <div class="form-group">
        <label for="clientId">SuperMarket ID:</label>
        <input type="text" class="form-control input-small" id="supermarketId" ng-model="counterData.supermarket_id" placeholder="Supermarket Id" >
      </div>

      

    <div><button class="btn btn-primary" ng-click="updateCounter()">Update Counter</button></div>

    <br>
    <div>
      <label>Server Response: <div><p>{{counData}}</p></div></label>
    </div>

  </div>  

</form>
  <!-- Warehouse --> 

  <form name="form2">
  <div id="warehouse">
    <div class="form-group" >

       <label for="clientName">Warehouse Id:</label>
      <input list="clientswarehouse" class="form-control" placeholder="Search  Warehouse" id="warehouseName" ng-model="warehouseData.client_id" ng-change="discoverWarehouse()">
       <datalist id="clientswarehouse" ng-model="selectedWarehouse" >
        <option data-ng-repeat="warehouse in warehouses" value=" {{warehouse.client_id}}">select </option>
      </datalist>

    </div>
    <div class="form-group">
      <label for="clientId">Warehouse ID:</label>
      <input type="text" class="form-control input-small" id="clientId" ng-model="warehouseData.client_id" placeholder="Enter Warehouse ID" >
    </div>
    <div class="form-group">
      <label for="clientId">Registration ID:</label>
      <input type="text" class="form-control input-small" id="regId" ng-model="warehouseData.regId" placeholder="Enter Registration ID" >
    </div>
    <div class="form-group">
          <label for="clientId">Address:</label>
          <div class="input-group">
            <input type="text" class="form-control input-small" id="desc" ng-model="warehouseData.address.street" placeholder="Street" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc1" ng-model="warehouseData.address.city" placeholder="City" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="warehouseData.address.country" placeholder="Country" >
            <span class="input-group-addon"></span>
            <input type="text" class="form-control input-small" id="desc2" ng-model="warehouseData.address.zip" placeholder="Zip" >

        </div>
        </div>

    <div class="form-group">
      <label for="clientId" ng-model="warehouseData.contact">Contact:</label>
      <div class="form-group">
        <label for="clientId">Phone:</label>
        <input type="text" class="form-control input-small" id="desc" ng-model="warehouseData.contact.phone" placeholder="Enter Phone" >
      </div>

      <div class="form-group">
        <label for="clientId">Email:</label>
        <input type="text" class="form-control input-small" id="email" ng-model="warehouseData.contact.email" placeholder="Enter email" >
      </div>

    </div>


    <div><button class="btn btn-primary" ng-click="updateWarehouse()">Update</button></div>
    <br>
    <div>
      <label>Server Response: <div><p>{{whsData}}</p></div></label>
    </div>

  </div>
</form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="controllers/updatereginfocontroller.js"></script>
</body>
</html>